.gallery {
  font-family: "Inter Regular", Arial, Helvetica, sans-serif;
  margin-top: 51px;
  padding: 15px 0 36px;
}

.gallery__cards {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 18px;
}
