.profile {
  display: flex;
  margin-top: 40px;
  align-items: center;
}
.profile__info {
  margin-left: 30px;
  display: grid;
  align-items: baseline;

  grid-template-areas:
    "name button"
    "description description";
  gap: 7px 18px;
}

.profile__picture {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__name {
  font-family: "Inter Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
  grid-area: name;
}

.profile__edit-button {
  background: url(../images/edit_button.svg) no-repeat center;
  width: 24px;
  height: 24px;
}

.profile__description {
  font-family: "Inter Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  margin: 0;
  grid-area: description;
}

.profile__add-button {
  background: url(../images/add_button.svg) no-repeat center;
  width: 150px;
  height: 50px;
  margin-left: auto;
}
